<!doctype html>
<html lang="th"><head><meta charset="utf-8"><title>Manoonchai Keyboard Portable Layout</title>
<style>
body { font-family: "Leelawadee UI", Tahoma, sans-serif; margin: 32px; color: #161616; background: #f7f7f7; }
h1 { margin-bottom: 4px; } p { margin-top: 0; color: #555; } h2 { margin-top: 28px; }
.keyboard { display: inline-block; padding: 12px; background: white; border: 1px solid #bbb; border-radius: 8px; }
.row { white-space: nowrap; margin: 4px 0; } .r1 { margin-left: 14px; } .r2 { margin-left: 28px; } .r3 { margin-left: 42px; }
.key { display: inline-flex; flex-direction: column; align-items: center; justify-content: center; width: 42px; height: 42px; margin: 2px; border: 1px solid #9aa4b2; border-radius: 5px; background: #fff; box-sizing: border-box; }
.key b { font-size: 10px; color: #777; line-height: 1; } .key em { font-style: normal; font-size: 20px; line-height: 1.2; }
</style></head><body>
<h1>Manoonchai Keyboard Portable</h1><p>Normal, Shift, Right Alt, and Right Alt + Shift layers for Manoonchai v0.3.</p>
<h2>Normal</h2>
<div class="keyboard">
<div class="row r0">
<span class="key"><b>1</b><em>1</em></span>
<span class="key"><b>2</b><em>2</em></span>
<span class="key"><b>3</b><em>3</em></span>
<span class="key"><b>4</b><em>4</em></span>
<span class="key"><b>5</b><em>5</em></span>
<span class="key"><b>6</b><em>6</em></span>
<span class="key"><b>7</b><em>7</em></span>
<span class="key"><b>8</b><em>8</em></span>
<span class="key"><b>9</b><em>9</em></span>
<span class="key"><b>0</b><em>0</em></span>
<span class="key"><b>-</b><em>-</em></span>
<span class="key"><b>=</b><em>=</em></span>
</div>
<div class="row r1">
<span class="key"><b>Q</b><em>ใ</em></span>
<span class="key"><b>W</b><em>ต</em></span>
<span class="key"><b>E</b><em>ห</em></span>
<span class="key"><b>R</b><em>ล</em></span>
<span class="key"><b>T</b><em>ส</em></span>
<span class="key"><b>Y</b><em>ป</em></span>
<span class="key"><b>U</b><em>ั</em></span>
<span class="key"><b>I</b><em>ก</em></span>
<span class="key"><b>O</b><em>ิ</em></span>
<span class="key"><b>P</b><em>บ</em></span>
<span class="key"><b>[</b><em>็</em></span>
<span class="key"><b>]</b><em>ฬ</em></span>
<span class="key"><b>\</b><em>ฯ</em></span>
</div>
<div class="row r2">
<span class="key"><b>A</b><em>ง</em></span>
<span class="key"><b>S</b><em>เ</em></span>
<span class="key"><b>D</b><em>ร</em></span>
<span class="key"><b>F</b><em>น</em></span>
<span class="key"><b>G</b><em>ม</em></span>
<span class="key"><b>H</b><em>อ</em></span>
<span class="key"><b>J</b><em>า</em></span>
<span class="key"><b>K</b><em>่</em></span>
<span class="key"><b>L</b><em>้</em></span>
<span class="key"><b>;</b><em>ว</em></span>
<span class="key"><b>&#x27;</b><em>ื</em></span>
</div>
<div class="row r3">
<span class="key"><b>Z</b><em>ุ</em></span>
<span class="key"><b>X</b><em>ไ</em></span>
<span class="key"><b>C</b><em>ท</em></span>
<span class="key"><b>V</b><em>ย</em></span>
<span class="key"><b>B</b><em>จ</em></span>
<span class="key"><b>N</b><em>ค</em></span>
<span class="key"><b>M</b><em>ี</em></span>
<span class="key"><b>,</b><em>ด</em></span>
<span class="key"><b>.</b><em>ะ</em></span>
<span class="key"><b>/</b><em>ู</em></span>
</div>
</div>
<h2>Shift</h2>
<div class="keyboard">
<div class="row r0">
<span class="key"><b>1</b><em>!</em></span>
<span class="key"><b>2</b><em>@</em></span>
<span class="key"><b>3</b><em>#</em></span>
<span class="key"><b>4</b><em>$</em></span>
<span class="key"><b>5</b><em>%</em></span>
<span class="key"><b>6</b><em>^</em></span>
<span class="key"><b>7</b><em>&amp;</em></span>
<span class="key"><b>8</b><em>*</em></span>
<span class="key"><b>9</b><em>(</em></span>
<span class="key"><b>0</b><em>)</em></span>
<span class="key"><b>-</b><em>_</em></span>
<span class="key"><b>=</b><em>+</em></span>
</div>
<div class="row r1">
<span class="key"><b>Q</b><em>ฒ</em></span>
<span class="key"><b>W</b><em>ฏ</em></span>
<span class="key"><b>E</b><em>ซ</em></span>
<span class="key"><b>R</b><em>ญ</em></span>
<span class="key"><b>T</b><em>ฟ</em></span>
<span class="key"><b>Y</b><em>ฉ</em></span>
<span class="key"><b>U</b><em>ึ</em></span>
<span class="key"><b>I</b><em>ธ</em></span>
<span class="key"><b>O</b><em>ฐ</em></span>
<span class="key"><b>P</b><em>ฎ</em></span>
<span class="key"><b>[</b><em>ฆ</em></span>
<span class="key"><b>]</b><em>ฑ</em></span>
<span class="key"><b>\</b><em>ฌ</em></span>
</div>
<div class="row r2">
<span class="key"><b>A</b><em>ษ</em></span>
<span class="key"><b>S</b><em>ถ</em></span>
<span class="key"><b>D</b><em>แ</em></span>
<span class="key"><b>F</b><em>ช</em></span>
<span class="key"><b>G</b><em>พ</em></span>
<span class="key"><b>H</b><em>ผ</em></span>
<span class="key"><b>J</b><em>ำ</em></span>
<span class="key"><b>K</b><em>ข</em></span>
<span class="key"><b>L</b><em>โ</em></span>
<span class="key"><b>;</b><em>ภ</em></span>
<span class="key"><b>&#x27;</b><em>&quot;</em></span>
</div>
<div class="row r3">
<span class="key"><b>Z</b><em>ฤ</em></span>
<span class="key"><b>X</b><em>ฝ</em></span>
<span class="key"><b>C</b><em>ๆ</em></span>
<span class="key"><b>V</b><em>ณ</em></span>
<span class="key"><b>B</b><em>๊</em></span>
<span class="key"><b>N</b><em>๋</em></span>
<span class="key"><b>M</b><em>์</em></span>
<span class="key"><b>,</b><em>ศ</em></span>
<span class="key"><b>.</b><em>ฮ</em></span>
<span class="key"><b>/</b><em>?</em></span>
</div>
</div>
<h2>Right Alt</h2>
<div class="keyboard">
<div class="row r0">
<span class="key"><b>1</b><em>๑</em></span>
<span class="key"><b>2</b><em>๒</em></span>
<span class="key"><b>3</b><em>๓</em></span>
<span class="key"><b>4</b><em>๔</em></span>
<span class="key"><b>5</b><em>๕</em></span>
<span class="key"><b>6</b><em>๖</em></span>
<span class="key"><b>7</b><em>๗</em></span>
<span class="key"><b>8</b><em>๘</em></span>
<span class="key"><b>9</b><em>๙</em></span>
<span class="key"><b>0</b><em>๐</em></span>
<span class="key"><b>-</b><em>÷</em></span>
<span class="key"><b>=</b><em>×</em></span>
</div>
<div class="row r1">
<span class="key"><b>Q</b><em>&nbsp;</em></span>
<span class="key"><b>W</b><em>&nbsp;</em></span>
<span class="key"><b>E</b><em>&nbsp;</em></span>
<span class="key"><b>R</b><em>&nbsp;</em></span>
<span class="key"><b>T</b><em>&nbsp;</em></span>
<span class="key"><b>Y</b><em>&nbsp;</em></span>
<span class="key"><b>U</b><em>ฺ</em></span>
<span class="key"><b>I</b><em>&nbsp;</em></span>
<span class="key"><b>O</b><em>&nbsp;</em></span>
<span class="key"><b>P</b><em>&nbsp;</em></span>
<span class="key"><b>[</b><em>[</em></span>
<span class="key"><b>]</b><em>]</em></span>
<span class="key"><b>\</b><em>\</em></span>
</div>
<div class="row r2">
<span class="key"><b>A</b><em>◌</em></span>
<span class="key"><b>S</b><em>๏</em></span>
<span class="key"><b>D</b><em>๛</em></span>
<span class="key"><b>F</b><em>฿</em></span>
<span class="key"><b>G</b><em>&nbsp;</em></span>
<span class="key"><b>H</b><em>ํ</em></span>
<span class="key"><b>J</b><em>ๅ</em></span>
<span class="key"><b>K</b><em>ฃ</em></span>
<span class="key"><b>L</b><em>&nbsp;</em></span>
<span class="key"><b>;</b><em>;</em></span>
<span class="key"><b>&#x27;</b><em>&#x27;</em></span>
</div>
<div class="row r3">
<span class="key"><b>Z</b><em>ฦ</em></span>
<span class="key"><b>X</b><em>&nbsp;</em></span>
<span class="key"><b>C</b><em>๚</em></span>
<span class="key"><b>V</b><em>&nbsp;</em></span>
<span class="key"><b>B</b><em>&nbsp;</em></span>
<span class="key"><b>N</b><em>ฅ</em></span>
<span class="key"><b>M</b><em>๎</em></span>
<span class="key"><b>,</b><em>,</em></span>
<span class="key"><b>.</b><em>.</em></span>
<span class="key"><b>/</b><em>/</em></span>
</div>
</div>
<h2>Right Alt + Shift</h2>
<div class="keyboard">
<div class="row r0">
<span class="key"><b>1</b><em>&nbsp;</em></span>
<span class="key"><b>2</b><em>&nbsp;</em></span>
<span class="key"><b>3</b><em>&nbsp;</em></span>
<span class="key"><b>4</b><em>&nbsp;</em></span>
<span class="key"><b>5</b><em>&nbsp;</em></span>
<span class="key"><b>6</b><em>&nbsp;</em></span>
<span class="key"><b>7</b><em>&nbsp;</em></span>
<span class="key"><b>8</b><em>&nbsp;</em></span>
<span class="key"><b>9</b><em>&nbsp;</em></span>
<span class="key"><b>0</b><em>&nbsp;</em></span>
<span class="key"><b>-</b><em>&nbsp;</em></span>
<span class="key"><b>=</b><em>&nbsp;</em></span>
</div>
<div class="row r1">
<span class="key"><b>Q</b><em>&nbsp;</em></span>
<span class="key"><b>W</b><em>&nbsp;</em></span>
<span class="key"><b>E</b><em>&nbsp;</em></span>
<span class="key"><b>R</b><em>&nbsp;</em></span>
<span class="key"><b>T</b><em>&nbsp;</em></span>
<span class="key"><b>Y</b><em>&nbsp;</em></span>
<span class="key"><b>U</b><em>&nbsp;</em></span>
<span class="key"><b>I</b><em>&nbsp;</em></span>
<span class="key"><b>O</b><em>&nbsp;</em></span>
<span class="key"><b>P</b><em>&nbsp;</em></span>
<span class="key"><b>[</b><em>{</em></span>
<span class="key"><b>]</b><em>}</em></span>
<span class="key"><b>\</b><em>|</em></span>
</div>
<div class="row r2">
<span class="key"><b>A</b><em>&nbsp;</em></span>
<span class="key"><b>S</b><em>&nbsp;</em></span>
<span class="key"><b>D</b><em>&nbsp;</em></span>
<span class="key"><b>F</b><em>&nbsp;</em></span>
<span class="key"><b>G</b><em>&nbsp;</em></span>
<span class="key"><b>H</b><em>&nbsp;</em></span>
<span class="key"><b>J</b><em>&nbsp;</em></span>
<span class="key"><b>K</b><em>&nbsp;</em></span>
<span class="key"><b>L</b><em>&nbsp;</em></span>
<span class="key"><b>;</b><em>:</em></span>
<span class="key"><b>&#x27;</b><em>&quot;</em></span>
</div>
<div class="row r3">
<span class="key"><b>Z</b><em>&nbsp;</em></span>
<span class="key"><b>X</b><em>&nbsp;</em></span>
<span class="key"><b>C</b><em>&nbsp;</em></span>
<span class="key"><b>V</b><em>&nbsp;</em></span>
<span class="key"><b>B</b><em>&nbsp;</em></span>
<span class="key"><b>N</b><em>&nbsp;</em></span>
<span class="key"><b>M</b><em>&nbsp;</em></span>
<span class="key"><b>,</b><em>&lt;</em></span>
<span class="key"><b>.</b><em>&gt;</em></span>
<span class="key"><b>/</b><em>?</em></span>
</div>
</div>
</body></html>